body {
	font-family: "Source Sans Pro", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	color:#141412;
	font-size: 1em;
	line-height: 25.6px;
	margin: 0;
}

.container{
	width: 80%;
	margin:auto;
	overflow: hidden;
}

img.yorklogo{
	width: 140px;
}

#site-logo {
	margin-top: 15px;
	float: left
	position: absolute;
	margin-left: 191px;
}

.red-bar {
	background-color:#e31837;
	color:#ffffff;
	float: none;
	margin: 0;
}

.title {
	text-align: left;
	color: #ffffff;
	padding: 20px 0px;
	margin-left: 200px;
	margin-bottom: 0;
	font-weight: 700;
	text-shadow: 1px 1px #9a0100;
	letter-spacing: .1em;
	line-height: 1em;
	font-size: 1.5em;
	display: block;
	font-family: 'Lato', arial, sans-serif;
}

#navbar {
	background-color: #eeeeee;
	box-shadow: inset #999999 0 0 2px;
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#navbar li:first-child {
	margin-left: 180px;
}

#navbar li {
	float: left;
}

#navbar li a {
	display: block;
	color: #141412;
	font-size: 15px;
	line-height: 1;
	padding: 14px 20px;
	text-decoration: none;
	border:none;
}


#navbar li a:hover {
	background-color: #666;
	color: #ffffff;
}

a:visited{
	color: #cc2030;
}

a{
	color:#e31837;
	text-decoration: none;
	border-bottom: 1px dotted #ee7d88;
}



.button{
	background-color: #e31837;
	color:#ffffff;
	padding:10px 15px;
	border:none;
}


.welcome {
	margin: 50px 0;
	text-align: center;
}

.module-block{
	float:left;
	width:25%;
	height: 200px;
	border:1px solid #000000;
	padding:10px;
	box-sizing: border-box;
}

.completion {
	text-align: center;
	font-size: 20px;
}

.locked {
	background-color: #696969;
	background-image: url('../images/lock.png');
	background-position: center;
	background-repeat: no-repeat;
}

.locked .completion {
	visibility: hidden;
}

.locked .assessments {
	visibility: hidden;
}


.chatbot {
	position: fixed;
	font-size: 15px;
	bottom: 30px;
}

.chatbot a {
	text-decoration: none;
	color: #ffffff
}
