body {
	font-family: "Source Sans Pro", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	color:#141412;
	font-size: 1em;
	line-height: 25.6px;
	margin: 0;
}

.container{
	width: 80%;
	margin:auto;
	overflow: hidden;
}

#main-header {
	background-color:#e31837;
	color:#ffffff;
	padding: 15px;
	margin: 20px 0;
	text-align: center;
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #eeeeee;
}

#navbar li {
	float: left;
}

#navbar li a {
	display: block;
	color: #141412;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar li a:hover {
	background-color: #111;
}

img.yorklogo{
	margin: 15px 0 0 0;
	width: 110px;
	float: right;
}

a:visited{
	color: #cc2030;
}

a{
	color:#e31837;
	text-decoration: none;
	border-bottom: 1px dotted #ee7d88;
}



.button{
	background-color: #333;
	color:#fff;
	padding:10px 15px;
	border:none;
}

.button:hover{
	color:#fff;
	background:red;
}

.clr{
clear:both;
}

.box-2 a{
	text-decoration: none;
}


.box-2{
	border: 3px dotted #ccc;
	padding: 20px;
	margin: 20px 0;
}


.categories h2{
	text-align: center;
}

.categories ul{
	padding-left: 20px;
	list-style: none;
}

.categories li{
	padding-bottom: 8px;
	border-bottom: dotted 1px #333;
	list-style-image: url('../images/check.png');

}

.my-form{
	padding:20px;
}

.my-form .form-group{
	padding-bottom: 15px;
}

.my-form label{
	display:block;
}

.my-form input[type="text"], .my-form textarea{
	padding:8px;
	width:100%;
}

.block{
	float:left;
	width:33.3%;
	border:1px solid #ccc;
	padding:10px;
	box-sizing: border-box;
}

#main-block{
	float:left;
	width:70%;
	padding:15px;
	box-sizing: border-box;
}

#sidebar{
	float:right;
	width:30%;
	background-color: #333;
	color:#fff;
	padding:15px;
	box-sizing: border-box;
}