
*{
	font-family: "Source Sans Pro", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	box-sizing: border-box;
}

html, body{
	width: 100vw !important;
	margin: 0 !important;
	padding: 0 !important;
	overflow-x: hidden;
}

body {
	color:#141412;
	font-size: 1em;
	line-height: 25.6px;
	display: block;
}

img{
	vertical-align: middle;
	border: 0;
}


img.yorklogo{
	margin: 15px 0 0 0;
	width: 110px;
	float: right;
}

a:visited{
	color: #cc2030;
}

a{
	color:#e31837;
	text-decoration: none;
	border-bottom: 1px dotted #ee7d88;
}


.container{
	width: 80%;
	margin:auto;
}


.button{
	background-color: #333;
	color:#fff;
	padding:10px 15px;
	border:none;
}

.button:hover{
	color:#fff;
	background:red;
}

.clr{
clear:both;
}
.box-2 a{
	text-decoration: none;
}

.box-1{
	background-color:#333;
	color:#fff;
	border: 5px red solid;
	padding: 15px;
	margin: 20px 0;
	text-align: center;

}

.box-1 h1{
	font-family: Tahoma;
	font-weight: bold;
	text-transform: uppercase;
}

.box-2{
	border: 3px dotted #ccc;
	padding: 20px;
	margin: 20px 0;
}

.categories{
	border: 1px #ccc solid;;
	padding: 10px;
	border-radius: 15px;
}

.categories h2{
	text-align: center;
}

.categories ul{
	padding-left: 20px;
	list-style: none;
}

.categories li{
	padding-bottom: 8px;
	border-bottom: dotted 1px #333;
	list-style-image: url('../images/check.png');

}

.my-form{
	padding:20px;
}

.my-form .form-group{
	padding-bottom: 15px;
}

.my-form label{
	display:block;
}

.my-form input[type="text"], .my-form textarea{
	padding:8px;
	width:100%;
}

.block{
	float:left;
	width:33.3%;
	border:1px solid #ccc;
	padding:10px;
	box-sizing: border-box;
}

#main-block{
	float:left;
	width:70%;
	padding:15px;
	box-sizing: border-box;
}

#sidebar{
	float:right;
	width:30%;
	background-color: #333;
	color:#fff;
	padding:15px;
	box-sizing: border-box;
}